.pika-single {
    @include pica-clearfix();
    z-index: 9999;
    display: block;
    position: relative;

    &.is-hidden {
        display: none;
    }

    &.is-bound {
        position: absolute;
    }
}

.pika-lendar {
    float: left;
}

.pika-title {
    position: relative;

    select {
        cursor: pointer;
        position: absolute;
        z-index: 9998;
        filter: alpha(opacity=0);
        opacity: 0;

        // Following values could be overwritten in the theme.scss. Yes this is redundant. Here's a better solution how to solve this problem: https://github.com/dbushell/Pikaday/issues/351
        margin: 0;
        left: 0;
        top: 5px;
    }
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    text-indent: 100%; /* replaced px based value with 100%. Now text-indent is not width dependent */
    white-space: nowrap;
    overflow: hidden;
    *position: absolute;
    *top: 0;

    &.is-disabled {
        cursor: default;
    }
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    *right: 0;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-button {
    cursor: pointer;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;

    .is-disabled & {
        pointer-events: none;
        cursor: default;
    }

}