@import "variables";

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: $pika-single--color;
    background: $pika-single--background;
    border-width: $pika-single--border-width;
    border-style: $pika-single--border-style;
    border-color: $pika-single--border-color;
    font-family: $pika-single--font-family;

    &.is-hidden {
        display: none;
    }

    &.is-bound {
        position: absolute;
        box-shadow: $pika-single__is-bound--box-shadow;
    }
}

// clear child float (pika-lendar), using the famous micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.pika-single {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after { clear: both }
}

.pika-lendar {
    float: left;
    width: $pika-lendar--width;
    margin: $pika-lendar--margin;
}

.pika-title {
    position: relative;
    text-align: $pika-title--text-align;

    select {
        cursor: pointer;
        position: absolute;
        z-index: 9998;
        margin: $pika-title__select--margin;
        left: $pika-title__select--left;
        top: $pika-title__select--top;
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: $pika-label--margin;
    padding: $pika-label--padding;
    font-size: $pika-label--font-size;
    line-height: $pika-label--line-height;
    font-weight: $pika-label--font-weight;
    background-color: $pika-label--background-color;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: $pika-controls--border;
    padding: $pika-controls--padding;
    width: $pika-controls--width;
    height: $pika-controls--height;
    text-indent: $pika-controls--width; // hide text using text-indent trick, using width value (it's enough)
    white-space: nowrap;
    overflow: hidden;
    background: $pika-controls--background;
    background-size: $pika-controls--size;
    opacity: $pika-controls--opacity;
    *position: absolute;
    *top: 0;

    &:hover {
        opacity: $pika-controls_hover--opacity;
    }

    &.is-disabled {
        cursor: default;
        opacity: $pika-controls_is-disabled--opacity;
    }
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: $pika-prev--background;
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: $pika-next--background;
    *right: 0;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: $pika-table--width;
    border-collapse: $pika-table--border-collapse;
    border-spacing: $pika-table--border-spacing;
    border: $pika-table--border;

    th,
    td {
        width: $pika-table--cell__width;
        padding: $pika-table--cell__padding;
    }

    th {
        color: $pika-table__th--color;
        font-size: $pika-table__th--font-size;
        line-height: $pika-table__th--line-height;
        font-weight: $pika-table__th--font-weight;
        text-align: $pika-table__th--text-align;
    }

    abbr {
        border-bottom: $pika-table__abbr--border-bottom;
        cursor: $pika-table__abbr--cursor;
    }
}

.pika-button {
    cursor: pointer;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: $pika-button--border;
    margin: $pika-button--margin;
    width: $pika-button--width;
    padding: $pika-button--padding;
    color: $pika-button--color;
    font-size: $pika-button--font-size;
    line-height: $pika-button--line-height;
    text-align: $pika-button--text-align;
    background: $pika-button--background;

    .is-today & {
        color: $pika-button__is-today--color;
        font-weight: $pika-button__is-today--font-weight;
    }

    .is-selected & {
        color: $pika-button__is-disabled--color;
        font-weight: $pika-button__is-disabled--font-weight;
        background: $pika-button__is-disabled--background;
        box-shadow: $pika-button__is-disabled--box-shadow;
        border-radius: $pika-button__is-disabled--border-radius;
    }

    .is-disabled & {
        pointer-events: none;
        cursor: default;
        color: $pika-button__is-disabled--color;
        opacity: $pika-button__is-disabled--opacity;
    }

    &:hover {
        color: $pika-button_hover--color;
        background: $pika-button_hover--background;
        box-shadow: $pika-button_hover--box-shadow;
        border-radius: $pika-button_hover--border-radius;
    }
}

.pika-week {
    font-size: $pika-week--font-size;
    color: $pika-week--color;
}
